* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .app {
    margin: 0;
    padding: 10px;
  }
  
  .main {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-form {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .search-form input,
  .search-form button {
    width: 280px;
  }
  
  .search-form input,
  .search-form button {
    padding: 10px;
    border-radius: 4px;
  }
  
  .search-form input {
    border: 1px solid grey;
    outline: none;
  }
  
  .search-form button {
    margin-left: 10px;
    /* background-color: chartreuse;
    border: 1px solid chartreuse; */
  }
  
  .user {
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  img{
    max-width: 10rem;
    max-height: 10rem;
    border: .5rem solid rgba(255,255,255,.2)
  }